PORT = 4000
CLIENT_URL = frontend_url
MONGODB_URI = mongodb uri

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= 
SMTP_PASS=
MAIL_FROM=

ACCESS_TOKEN_KEY=%^#RFEDUVYO**&^@&*H&@%*68qe5899546GHFTG-9873gd5gnmc7n3aobbbcy32i73
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_KEY=SUFyuqpi37p987u$%^&ygdbnxhauiw&^%$&^%$&*gdv?sada&^$#@?D<H*>
REFRESH_TOKEN_EXPIRY=7d

PASSWORD_RESET_TOKEN_KEY=your-strong-random-secret